.wrapper {
    background-color: var(--primary);
    height: 70px;
    width:100%;
    padding:10px 40px;
    color:#fff;
    .inner {
    height:100%;
    display: flex;
    justify-content:space-around;
        .logo {
            height:50px;
            .header-imgage {
               height:100%;
            }
        }
        .contact {
            display: flex;
            background-color: var(--red);
            margin:0 10px 0 40px;
            padding:5px;
            border-radius: 5px;
            .list-contact {
                margin: auto;
            } 
            .icon-contact {
                margin: auto;
                padding: 0 7px;
            }
        }
            .inputs-search {
               display: flex;
               position: relative;
               .inputs input {
                   outline: none;
                   border:none;
                   height:52px;
                   border-radius: 5px;
                   padding:0 70px 0 16px;
                }
               .search {
                   top: 8px;
                   right: 8px;
                   position: absolute;
                   color: #000;
                   font-size: 30px;
                   z-index: 1;
                }
            }
        .orderHistory {
            margin:0;
            display: flex;
            background-color: var(--red);
            padding:5px;
            border-radius: 5px;
            .list-orderHistory {
               margin:auto;
            }
        }
        .callPhone {
           display: flex;
           margin:auto 0;
           .tellPhone {
               font-size: 30px;
            }
            .hotline-phone {
                display: flex;
                flex-direction: column;
                padding-left: 15px;
            }
        }
    }
}
//Search...
   .search-result {
            width:225px;      
    }
    